body {
  font: normal 16px/24px 'Inter', sans-serif;
  color: var(--grey-4);
}

.button {
  display: inline-block;
  padding: 15px 50px;
  text-decoration: none;
  cursor: pointer;
  color: var(--white);
  border-radius: 8px;
  background: #4263EB;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  z-index: 99;
  overflow: hidden;
  background: rgba(196, 196, 196, 0.5);
}

.modal__window {
  max-width: 430px;
  min-height: 300px;
  padding: 30px 40px;
  background: var(--white);
}