.container {
  text-align: center;
  margin-top: 300px;
}

.tooltip{
  display: inline-block;
  position: relative;
  font: normal 16px/24px 'Inter', sans-serif;
}

.tooltip__icon {
  padding-top: 8px;
  cursor: pointer;
}

.tooltip__buble {
  opacity: 0;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%);
  min-width: 130px;
  padding: 13px 21px;
  color: var(--grey-2);
  background-color: #4263EB;
  box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
  border-radius: 10px;
  transition: opacity .5s;
}

.tooltip__buble::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%);
  border: 12px solid transparent;
  border-top: 6px solid #4263EB;
}

.tooltip__icon:hover ~ .tooltip__buble{
  opacity: 1;
}